.container--chart {
  --colour-chart-1: var(--colour-secondary);
  --colour-chart-2: var(--colour-secondary-2);
  --colour-chart-3: var(--colour-secondary-4);
  --colour-chart-4: var(--colour-secondary-3);
  --colour-chart-5: var(--colour-accent);
  --colour-chart-6: var(--colour-success);
  --colour-chart-7: var(--colour-secondary);
  --colour-chart-8: var(--colour-secondary-2);
  --colour-chart-9: var(--colour-secondary-4);
  --colour-chart-10: var(--colour-secondary-3);
  --colour-chart-11: var(--colour-accent);
  --colour-chart-12: var(--colour-success);
}

.chart-colour-1 {
  color: var(--colour-chart-1) !important;
}

.chart-colour-2 {
  color: var(--colour-chart-2) !important;
}

.chart-colour-3 {
  color: var(--colour-chart-3) !important;
}

.chart-colour-4 {
  color: var(--colour-chart-4) !important;
}

.chart-colour-5 {
  color: var(--colour-chart-5) !important;
}

.chart-colour-6 {
  color: var(--colour-chart-6) !important;
}

.chart-colour-7 {
  color: var(--colour-chart-7) !important;
}

.chart-colour-8 {
  color: var(--colour-chart-8) !important;
}

.chart-colour-9 {
  color: var(--colour-chart-9) !important;
}

.chart-colour-10 {
  color: var(--colour-chart-10) !important;
}

.chart-colour-11 {
  color: var(--colour-chart-11) !important;
}

.chart-colour-12 {
  color: var(--colour-chart-12) !important;
}

.chart__key {
  padding-bottom: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

@media (min-width: 36em) {
  .chart__key {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

@media (min-width: 62em) {
  .chart__key {
    margin-left: 0;
    margin-right: 0;
  }
}

.chart__key:after {
  display: table;
  clear: both;
  content: "";
}

.chart__key .key__title {
  display: block;
  max-width: 100%;
}

.chart__key .custom-checkbox {
  color: var(--colour-body) ;
  width: 50%;
  float: left;
}

@media (min-width: 36em) {
  .chart__key .custom-checkbox {
    width: auto;
    max-width: 50%;
    padding-right: 4rem;
  }
}

.chart__key .custom-control-input[type="checkbox"] {
  pointer-events: none;
}

.chart__key .custom-control-input[type="checkbox"]:not(:disabled):checked ~ .custom-control-label:before {
  border-color: currentColor;
  background: currentColor;
}

.chart__key .key__btn > span {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  height: 1em;
  line-height: 1.1em;
  width: 1em;
  margin-bottom: -0.1em;
  margin-right: 0.5em;
  background: currentColor;
}

.js-enabled .chart__key .custom-control-input[type="checkbox"] {
  pointer-events: inherit;
}

.chart__wrapper {
  margin-top: 1rem;
  position: relative;
  display: block;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 4rem;
}

@media (min-width: 36em) {
  .chart__wrapper {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

@media (min-width: 62em) {
  .chart__wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

.chart {
  display: flex;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 1.5rem;
}

@media (min-width: 36em) {
  .chart {
    padding-top: 42.86%;
    margin-bottom: 0;
  }
}

.chart .chart__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

@media (min-width: 36em) {
  .chart .chart__inner {
    height: calc(100% - 1.5rem);
  }
}

.chart .chart__label {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--colour-body) ;
}

.chart .chart__y-axis {
  text-align: right;
  position: relative;
  display: flex;
  flex-flow: column-reverse;
  width: 0;
  margin-bottom: 2px;
}

@media (min-width: 36em) {
  .chart .chart__y-axis {
    width: auto;
    padding-right: 0.5rem;
  }
}

@media (min-width: 62em) {
  .chart .chart__y-axis {
    margin-bottom: 3px;
  }
}

.chart .chart__y-axis .group {
  flex-grow: 0;
  flex-shrink: 0;
  height: var(--percent);
}

.chart .chart__y-axis .group .chart__label {
  display: none;
}

.chart .chart__y-axis .group:last-child .chart__label {
  display: block;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

@media (min-width: 36em) {
  .chart .chart__y-axis .group .chart__label {
    display: block;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .chart .chart__y-axis .group:last-child .chart__label {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

.chart .chart__guidelines {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column-reverse;
}

.chart .chart__guidelines .guideline {
  flex-grow: 0;
  flex-shrink: 0;
  height: var(--percent);
  color: var(--colour-border) ;
  border-top: 1px solid currentColor;
  margin: 0;
}

.chart .chart__guidelines .guideline:first-child {
  display: none;
}

.chart .chart__x-axis {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  color: var(--colour-border) ;
  border-bottom: 2px solid currentColor;
}

@media (min-width: 62em) {
  .chart .chart__x-axis {
    border-bottom: 3px solid currentColor;
  }
}

.chart .chart__x-axis ul {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: none;
}

.chart .chart__x-axis ul .group {
  height: 100%;
  flex: 0 1 100%;
  display: flex;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.chart .chart__x-axis ul .group .chart__label {
  position: absolute;
  top: 100%;
  padding-top: 0.5rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  min-width: 100%;
  text-align: center;
  display: none;
}

@media (min-width: 36em) {
  .chart .chart__x-axis ul .group .chart__label {
    display: block;
    white-space: nowrap;
  }
}

.chart .chart__x-axis--mobile {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.chart .chart__x-axis--mobile .chart__label {
  float: left;
  padding-top: 0.5rem;
}

.chart .chart__x-axis--mobile .chart__label + .chart__label {
  float: right;
}

@media (min-width: 36em) {
  .chart .chart__x-axis--mobile {
    display: none;
  }
}

.chart .data__wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.chart .data {
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  height: 100%;
  height: var(--percent);
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  position: relative;
  outline: none;
  border-radius: 0.25rem;
  border: none;
  z-index: 2;
  max-width: 3rem;
  background: currentColor;
}

@media (min-width: 36em) {
  .chart .data {
    max-width: 4rem;
  }
}

@media (min-width: 62em) {
  .chart .data {
    max-width: 6rem;
  }
}

.chart .data:hover {
  z-index: 10;
}

.chart .data:focus, .chart .data:active {
  z-index: 20;
}

.chart .data [data-tooltip] {
  width: auto;
  max-width: 12.5rem;
  text-align: center;
  z-index: 99;
}

@media (min-width: 62em) {
  .chart .data [data-tooltip] {
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, 0) !important;
  }
}

.chart .data [data-tooltip] span,
.chart .data [data-tooltip] strong {
  display: block;
}

.chart .data__label {
  position: absolute;
  bottom: 100%;
  opacity: 0;
  pointer-events: none;
}

.chart--line .chart .chart__x-axis ul .group .chart__label {
  text-align: left;
  min-width: auto;
  left: 0;
}

.chart--line .chart .chart__x-axis ul .group:first-child .chart__label {
  -webkit-transform: translate(0%, 0);
  -ms-transform: translate(0%, 0);
  -o-transform: translate(0%, 0);
  transform: translate(0%, 0);
}

.chart--line .chart .chart__x-axis ul .group:last-child {
  max-width: 1px;
}

.chart--line .chart .chart__x-axis ul .group:last-child .chart__label {
  left: auto;
  right: 0;
  -webkit-transform: translate(0%, 0);
  -ms-transform: translate(0%, 0);
  -o-transform: translate(0%, 0);
  transform: translate(0%, 0);
}

.chart--line .chart .data {
  height: 0.5rem;
  width: 0.5rem;
  flex: none;
  margin: 0 0 -0.25rem -0.25rem;
  position: absolute;
  bottom: var(--percent);
  left: 0;
  opacity: 0;
  z-index: 20;
  background: currentColor;
  border-radius: 50%;
}

.chart--line .chart .data:hover {
  z-index: 30;
}

@media (min-width: 36em) {
  .chart--line .chart .data {
    height: 1rem;
    width: 1rem;
    margin: 0 0 -0.5rem -0.5rem;
  }
}

.chart--line .chart .marker {
  width: 0;
  color: var(--colour-border) ;
  border-left: 1px dashed currentColor;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  opacity: 0;
  z-index: 0;
}

.chart--line .chart .data:hover {
  opacity: 1 !important;
}

.chart--line .chart .data:hover .marker {
  opacity: 1;
}

.chart--line .chart .group:hover .marker {
  opacity: 1;
}

.chart--line .chart .line,
.chart--line .chart .range {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: visible;
  pointer-events: none;
}

.chart--line .chart .line path,
.chart--line .chart .range path {
  stroke: currentColor;
  stroke-width: 0.6px;
  stroke-linejoin: round;
}

@media (min-width: 36em) {
  .chart--line .chart .line path,
  .chart--line .chart .range path {
    stroke-width: 0.5px;
  }
}

@media (min-width: 62em) {
  .chart--line .chart .line path,
  .chart--line .chart .range path {
    stroke-width: 0.4px;
  }
}

.chart--line .chart .line.invert path,
.chart--line .chart .range.invert path {
  color: white !important;
}

.chart--line .chart .line--dashed {
  stroke-dasharray: 1.5px;
}

@media (min-width: 36em) {
  .chart--line .chart .line--dashed {
    stroke-dasharray: 0.75px;
  }
}

.chart--line .chart .line--thin path {
  stroke-width: 0.3px;
  stroke-linecap: initial;
}

@media (min-width: 36em) {
  .chart--line .chart .line--thin path {
    stroke-width: 0.25px;
  }
}

@media (min-width: 62em) {
  .chart--line .chart .line--thin path {
    stroke-width: 0.2px;
  }
}

.chart--line .chart .range {
  z-index: 0 !important;
}

.chart--line .chart .range path {
  stroke: none !important;
  fill: currentColor;
  opacity: 0.5;
}

.chart--line .chart .range.show path {
  opacity: 1;
}

.chart--line.show-points .chart .data:not(:hover):not(:focus):not(:active) {
  opacity: 1;
  transform: scale(0.5);
}

.chart--stacked .chart__key .custom-checkbox {
  pointer-events: none;
}

.chart--stacked .custom-control-label:after {
  display: none;
}

.chart--stacked .chart .data__wrapper {
  flex-flow: column-reverse;
  justify-content: flex-start !important;
  align-items: center !important;
}

.chart--stacked .chart .data {
  width: 80%;
  flex: 0 0 var(--percent);
  border-radius: 0;
}

.chart--pie .chart__wrapper {
  margin-left: 0;
  margin-right: 0;
}

.chart--pie .chart {
  padding-top: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media (min-width: 36em) {
  .chart--pie .chart {
    justify-content: space-between;
  }
}

.chart--pie .pie {
  height: 17rem;
  width: 17rem;
  flex: 0 0 17rem;
  position: relative;
}

.chart--pie .pie:after {
  content: "";
  display: block;
  z-index: 5;
  position: absolute;
  top: 15%;
  left: 15%;
  height: 70%;
  width: 70%;
  border-radius: 50%;
}

.chart--pie .pie .hotspot {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 50%;
  height: 50%;
  width: 50%;
  transform-origin: bottom left;
  z-index: 4;
  border-top-right-radius: 100%;
}

.chart--pie .pie .hotspot--inner {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: bottom left;
  border-top-right-radius: 100%;
}

.chart--pie .pie .tooltip {
  top: 15%;
  left: 50%;
}

.chart--pie .pie .tooltip [data-tooltip] {
  width: auto;
  white-space: nowrap;
  transform: translate(-50%, 1rem);
}

.chart--pie .pie .hotspot:hover + .tooltip [data-tooltip] {
  opacity: 1;
  visibility: visible;
}

.chart--pie .pie .tooltip[data-quarter="2"],
.chart--pie .pie .tooltip[data-quarter="3"] {
  top: 50%;
}

.chart--pie .pie .hotspot:last-of-type + .tooltip {
  top: 15%;
}

@media (min-width: 62em) {
  .chart--pie .pie .tooltip[data-quarter="1"] {
    position: absolute;
    top: 2%;
    left: 75%;
  }
  .chart--pie .pie .tooltip[data-quarter="1"] [data-tooltip] {
    transform: none;
  }
  .chart--pie .pie .tooltip[data-quarter="2"] {
    position: absolute;
    top: 80%;
    left: 75%;
  }
  .chart--pie .pie .tooltip[data-quarter="2"] [data-tooltip] {
    transform: none;
  }
  .chart--pie .pie .tooltip[data-quarter="3"] {
    position: absolute;
    top: 80%;
    right: 75%;
    left: auto;
  }
  .chart--pie .pie .tooltip[data-quarter="3"] [data-tooltip] {
    transform: none;
    left: auto;
    right: 0;
  }
  .chart--pie .pie .tooltip[data-quarter="4"],
  .chart--pie .pie .hotspot:last-of-type + .tooltip {
    position: absolute;
    top: 2%;
    right: 75%;
    left: auto;
  }
  .chart--pie .pie .tooltip[data-quarter="4"] [data-tooltip],
  .chart--pie .pie .hotspot:last-of-type + .tooltip [data-tooltip] {
    transform: none;
    left: auto;
    right: 0;
  }
}

.chart--pie .pie .hotspot.hotspot--small {
  z-index: 1;
}

.chart--pie .pie .hotspot.hotspot--xxsmall {
  z-index: 2;
  width: 15%;
}

.chart--pie .pie .hotspot.hotspot--xsmall {
  z-index: 2;
  width: 27%;
  border-top-right-radius: 70%;
}

.chart--pie .pie .hotspot:last-of-type {
  z-index: 3;
}

.chart--pie .pie .hotspot:nth-of-type(1):hover ~ svg circle:nth-child(1),
.chart--pie .pie .hotspot:nth-of-type(2):hover ~ svg circle:nth-child(2),
.chart--pie .pie .hotspot:nth-of-type(3):hover ~ svg circle:nth-child(3),
.chart--pie .pie .hotspot:nth-of-type(4):hover ~ svg circle:nth-child(4),
.chart--pie .pie .hotspot:nth-of-type(5):hover ~ svg circle:nth-child(5),
.chart--pie .pie .hotspot:nth-of-type(6):hover ~ svg circle:nth-child(6),
.chart--pie .pie .hotspot:nth-of-type(7):hover ~ svg circle:nth-child(7),
.chart--pie .pie .hotspot:nth-of-type(8):hover ~ svg circle:nth-child(8),
.chart--pie .pie .hotspot:nth-of-type(9):hover ~ svg circle:nth-child(9),
.chart--pie .pie .hotspot:nth-of-type(10):hover ~ svg circle:nth-child(10),
.chart--pie .pie .hotspot:nth-of-type(11):hover ~ svg circle:nth-child(11) {
  stroke-width: var(--stroke-width-hover, 4px);
}

.chart--pie .pie svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.chart--pie .pie svg circle {
  stroke-width: 3px;
  pointer-events: all;
  stroke: currentColor;
}

.chart--pie .pie .group__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
}

@media (min-width: 36em) {
  .chart--pie[data-group-count="1"] .chart__wrapper {
    width: 18.75rem;
    margin: 0;
    float: left;
  }
  .chart--pie[data-group-count="1"] .chart__key {
    pointer-events: none;
    padding-top: 2rem;
    width: calc(100% - 20.75rem);
    margin: 0;
    float: right;
  }
  .chart--pie[data-group-count="1"] .chart__key .custom-checkbox {
    width: 100%;
  }
  .chart--pie[data-group-count="2"] .chart {
    justify-content: start;
  }
  .chart--pie[data-group-count="2"] .chart .pie:first-child {
    margin-right: 4rem;
  }
}

.chart--stacked .chart__key .custom-checkbox,
.chart--pie .chart__key .custom-checkbox,
.chart--basic .chart__key .custom-checkbox {
  pointer-events: none;
}

.chart--stacked .custom-control-label:after,
.chart--pie .custom-control-label:after,
.chart--basic .custom-control-label:after {
  display: none;
}

.chart--line.chart--basic .chart__key .custom-control {
  width: auto;
  min-width: 50%;
}

.chart--line.chart--basic .chart__key .custom-control-label:before {
  height: 2px;
  margin-top: calc(0.75rem - 1px);
  background: none !important;
  border: none;
  border-bottom: 2px solid currentColor;
}

.chart--line.chart--basic .chart__key .line--dashed .custom-control-label:before {
  border-bottom: 2px dotted currentColor;
}

.chart--line.chart--basic .chart__key .line--thin .custom-control-label:before {
  border-bottom: 1px solid currentColor;
}

@media (min-width: 36em) {
  .chart--line.chart--basic .chart__key {
    padding-left: 3.5rem;
    position: relative;
  }
  .chart--line.chart--basic .chart__key .custom-control {
    width: auto;
    min-width: 0;
  }
  .chart--line.chart--basic .chart__key .key__title {
    position: absolute;
    top: 0;
    left: 0;
    max-width: none;
    width: auto;
  }
  .chart--line.chart--basic .chart__key .custom-checkbox {
    padding-right: 2rem;
  }
}

.chart .group .data.hide {
  pointer-events: none;
  opacity: 0;
}

.chart .line.hide {
  opacity: 0;
}

.container--chart--no-key .chart__key {
  display: none;
}

.chart--key-beneath {
  display: flex;
  flex-direction: column-reverse;
}

.chart--key-beneath .chart__key {
  margin-top: -2rem;
  margin-bottom: 2rem;
}

@media (min-width: 36em) {
  .chart--key-beneath .chart__key {
    margin-top: -1rem;
  }
}

/*# sourceMappingURL=maps/charts.css.map */
